.main * {
    font-family: 'Orbitron';
}

.main {
    max-width: 1024px;
    min-height: 63vh;
    margin: 7vh auto 0 auto;
    text-align: center;
}

.main>p {
    position: relative;
    margin: 10px auto 0 auto;
    padding: 3px;
    font-size: 2em;
    line-height: 40px;
    height: 86px;
    width: 300px;
    border: 2px solid red;
    border-radius: 15px;
    background-color: black;
    z-index: 1;
}

.main>form,
.main>.commentList {
    padding-top: 50px;
    position: relative;
    background-color: rgb(30, 30, 30);
    z-index: 0;
    top: -50px;
    margin: auto;
    border: 2px solid red;
    border-radius: 15px;
    width: 90vw;
    max-width: 600px;
    padding-bottom: 20px;
    font-size: 1.5em;
    text-align: left;
}
.main>form a {
    display: block;
    font-size:.9em;
    width: 90%;
    margin:auto
}

.main>form p{
    width: 80%;
    color: white;
    background: transparent;
    margin: 10px auto;
}

.main>form p.subParagraph {
    margin: 30px auto 0 auto;
    font-style: italic;
}

.main>form label {
    display: inline-block;
    width: 30%;
}

.main>form label {
    margin: 10px auto 0 auto;
    text-align: left;
    width: 80%;
    height: 28px;
    display: block;
    position: relative;
    font-size: 1em;
    bottom: -20px;

    -webkit-transition: bottom 0.2s 0s ease, font-size 0.5s 0s ease, color 0.5s 0s ease;
    -moz-transition: bottom 0.2s 0s ease, font-size 0.5s 0s ease, color 0.5s 0s ease;
    -o-transition: bottom 0.2s 0s ease, font-size 0.5s 0s ease, color 0.5s 0s ease;
    transition: bottom 0.2s 0s ease, font-size 0.5s 0s ease, color 0.5s 0s ease;
}

.main>form label.up {
    bottom: 0;
    font-size: 0.8em;
    color: white;
}

.main>form>textarea {
    background: transparent;
    border-bottom: 1px solid white;
    width: 80%;
    height: 30px;
    display: block;
    margin: 0 auto 20px auto;
    color: white;
    font-size: 0.9em;
    padding: 10px;
    font-size: 0.8em;
    height: 200px;
    resize: vertical;
}

.main>form>input[type="submit"],
.main>form>input[type="reset"] {
    display: block;
    margin: 10px auto 0 auto;
    width: 50%;
    background-color: black;
    border: 2px solid red;
    border-radius: 15px;
    color: white;
    height: 50px;
    font-size: 1.3em;
}

.main>form>input[type="reset"] {
    font-size: 0.8em;
    width: 40%;
    height: 30px;
    margin-bottom: 10px;
}

.main>form>hr {
    border: 1px solid grey;
    width: 80%;
    margin: 35px auto;
}

.main>form>p.error {
    color: red;
    margin: 30px auto;
}

.main>form>p.instructions {
    text-align: left;
    width: 80%;
    letter-spacing: 1px;
    margin: auto;
    font-size: 0.65em;
}

.main>form>div {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, .7);
}

.main>form>div>p.title {
    font-size: .8em;
    color: #CCAE52;
}

.main>form>div>p.description {
    font-size: .7em;
}

.main>.commentList>* {
    background-color: transparent;
}

.main>.commentList>div {
    width: 90%;
    border: 1px solid red;
    border-radius: 10px;
    margin: 15px auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.main>.commentList>div>p.questionTitle {
    font-size: smaller;
    color: #CCAE52;
}

.main>.commentList>div>p.answerDate {
    font-size: 0.7em;
}

.main>.commentList>p.HCentered {
    text-align: center;
    ;
}

.main>.commentList>a {
    display: block;
    width: 85%;
    margin: auto;
}

.main>.commentList>p,
.main>.commentList>div>p.answerBody {
    text-align: left;
    width: 90%;
    margin: auto;
    font-style: italic;
}

.main>.commentList>div>a {
    display: block;
    width: 90%;
    margin: 10px auto 0 auto;
    text-align: left;
    font-size: 0.8em;
}