
table, td, th {
  border: 2px solid black;
  text-align: center;
}

caption {
  display: table-caption;
  text-align: center;
  font-size: 2em;
  background-color: #a40000;
  font-weight: bold;
  border-collapse: collapse;
}

table {
  width: 90%;
  margin: auto;
  max-width: 1024px;
  border-collapse: collapse;
  background-color: #750027;
  color: white;
  margin-top: calc(var(--menu-height) / 2);
}

th, td {
  padding: 15px;
}

.head {
  background-color: #a40000;
}

tr:nth-child(even) {
  background-color: #660025;
}

tr:hover {
  background-color: red;
  color: white;
}
.emphasis {
  font-weight: bold;
}

@media screen and (max-width:600px){
  caption{
    font-size: 1.2em;
  }

  .head{
    font-size: 1em;
  }

  th{
    font-size: 0.8em;
  }

}
