.main * {
    font-family: 'Orbitron';
}

.main {
    max-width: 1024px;
    min-height: 63vh;
    margin: 7vh auto 0 auto;
    text-align: center;
}

.main>p {
    position: relative;
    margin: 10px auto 0 auto;
    padding: 3px;
    font-size: 2em;
    line-height: 40px;
    height: 86px;
    width: 300px;
    border: 2px solid red;
    border-radius: 15px;
    background-color: black;
    z-index: 1;
}

#auth_widget {
    padding-top: 50px;
    position: relative;
    background-color: rgb(30, 30, 30);
    z-index: 0;
    top: -50px;
    margin: auto;
    border: 2px solid red;
    border-radius: 15px;
    width: 90vw;
    max-width: 500px;
    padding-bottom: 20px;
    font-size: 1.5em;
}

#auth_widget>form>fieldset {
    border: 2px solid red;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    width: 95%;
    background-color: rgba(0, 0, 0, .6);
}

#auth_widget>form>fieldset.RejectForm {
    border: 0;
}

#auth_widget>form>fieldset.RejectForm>label,
#auth_widget>form>fieldset.RejectForm>textarea {
    width: 100%;
}

#auth_widget>form>fieldset>legend {
    color: #CCAE52;
}

#auth_widget>form>fieldset>p {
    margin: 10px auto;
    text-align: left;
    font-size: 0.7em;
    word-break: break-all;
}

#auth_widget>p.alert {
    color: greenyellow;
    font-size: xx-large;
    margin: 15px auto;
}

#auth_widget>form>fieldset>p.details {
    font-size: 0.6em;
    margin-bottom: 0;
}

#auth_widget a.noPlease {
    color: red;
}

#auth_widget>p.small {
    font-size: small;
    color: white;
}

#auth_widget>a,
#auth_widget>span>a {
    text-decoration: none;
    display: inline-block;
    text-align: left;
    width: 80%;
    margin: 5px auto;
    font-size: 0.7em;
    color: white;

}

#auth_widget input[type="text"],
#auth_widget input[type="password"] {
    background: transparent;
    border-bottom: 1px solid white;
    width: 80%;
    height: 30px;
    display: block;
    margin: 0 auto 0 auto;
    color: white;
    font-size: 0.9em;
    padding: 10px;
}

#auth_widget input[type="submit"],
#auth_widget input[type="reset"] {
    display: inline-block;
    margin: 10px auto;
    padding: 0 10px;
    background-color: black;
    border: 2px solid red;
    border-radius: 15px;
    color: white;
    height: 50px;
    font-size: 0.8em;

    -webkit-transition: border-color 0.3s 0s ease;
    -moz-transition: border-color 0.3s 0s ease;
    -o-transition: border-color 0.3s 0s ease;
    transition: border-color 0.3s 0s ease;
}

#auth_widget input[type="submit"]:hover,
#auth_widget input[type="reset"]:hover,
#auth_widget input[type="reset"]:focus,
#auth_widget input[type="submit"]:focus {
    border-color: #CCAE52;
    outline: none;
}
form#auth_widget fieldset{
    border: 2px solid red;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
  }
  form#auth_widget fieldset > legend{
    color:#CCAE52;
    font-size: 1.3em;
  }
  form#auth_widget fieldset > p{
    margin: 10px;
  }
  form#auth_widget fieldset > p.details{
    font-size: .8em;
  }
  p.actionResult{
    color:#CCAE52;
    margin: 20px auto;
  }
  div#auth_widget > p{
    width: 90%;
    margin: auto;
    word-break: break-all;
  }

  @media only screen and (max-width:375px) {
    .main>p{
        width: 95%;
        font-size: 1.5em;
    }
  }
 
  @media only screen and (max-width:320px) {
    .main>p{
        width: 95%;
        font-size: 1.2em;
    }
    .main > div > *{
        font-size: .7em;
    }
  }