@media screen and (max-width: 768px) {
    #main{
        margin-left: 0;
        border-top: 1px solid #000;
        text-align: left;
    }
    #main_menu{
        display:none;
        width: 90%;
        font-size: 1.5em;
    }
    #footer{
        width: 10%;
    }
}