table, td, th {
    border: 2px solid black;
    text-align: center;
  }

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #750027;
  color: white;
}

th, td {
  padding: 15px;
}

.head {
  background-color: #A40000;
}

tr:nth-child(even) {background-color: #660025;}

tr:hover {
    background-color: red;
    color: white;

  }
.emphasis{
  font-weight: bold;
}
