html>body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.main>* {
  font-family: var(--font-family);
  text-align: left;
}

.main {
  margin: 40px auto auto auto;
  max-width: 1024px;
  text-align: center;
  width: 90%;
}

.main>p,
.main>div.chat>p {
  padding: 25px 50px;
  margin: 1% auto;
  font-family: var(--font-family);
  font-size: 1.5em;
  background: url(../ICONS/DOOMIcon.jpg) no-repeat left, linear-gradient(to right, rgb(8, 8, 8) 70%, transparent);
  background-size: 4%, auto;
}

.main>h1.title {
  padding: 25px;
  font-weight: normal;
  margin: 1% auto;
  font-size: 1.5em;
}

.main>h2 {
  padding: 0 25px 25px 25px;
  font-weight: normal;
  margin: 0 auto;
  font-size: 1.1em;
}

.main>div.details {
  text-align: left;
}

.main>div.details>img {
  display: inline-block;
  width: 10%;
  border-radius: 50%;
  border: 1px solid red;
}

.main>div.chat {
  width: 100%;
}

.main>div.chat>div.message {
  margin: 20px auto;
}

.main>div.chat>div.message>div.userDetails {
  display: block;
  width: 20%;
  text-align: left;
}

.main>div.chat>div.message>div.userDetails>img {
  display: block;
  width: 30%;
  border-radius: 50%;
  border: 1px solid red;
}

.main>div.chat>div.message>div.userDetails>p {
  text-align: left;
}

.main>div.chat>div.message>div.userDetails>p.messageDatestamp {
  font-size: smaller;
}

.main>div.chat>div.message>p.text>span:nth-child(1) {
  font-size: .8em;
  letter-spacing: 1px;
}

.main>div.chat>div.message>p.text {
  display: block;
  width: 90%;
  margin: 10px auto 0 20px;
  text-align: left;
  border: 1px solid red;
  padding: 20px;
  border-radius: 10px;
  background: black;
}

.main>div.chat>div.message.ofUser>div.userDetails {
  margin-left: auto;
}

.main>div.chat>div.message.ofUser>div.userDetails>* {
  margin-left: auto;
  text-align: right;
}

.main>div.chat>div.message.ofUser>p {
  margin: 10px 20px 0 auto;
}

.main>div.chat>div.message.ofUser>p>a,
.main>div.chat>div.message>p>a {
  color: yellow;
}

.main>form {
  margin: 20px 0;
  text-align: center;
}

.main>form>label {
  text-align: left;
  display: block;
  padding: 25px 50px;
  margin: 1% auto;
  font-family: var(--font-family);
  font-size: 1.5em;
  background: url(../ICONS/DOOMIcon.jpg) no-repeat left, linear-gradient(to right, rgb(8, 8, 8) 70%, transparent);
  background-size: 4%, auto;
}

.main>form>textarea,
.main>form>a {
  background: transparent;
  border-bottom: 1px solid white;
  width: 95%;
  height: 30vh;
  resize: vertical;
  display: block;
  margin: 0 auto 0 auto;
  font-family: inherit;
  font-size: 1.3em;
  color: white;
  padding: 10px;
  border: 1px solid red;
  margin-top: 10px;
  border-radius: 15px 15px 0 15px;
  background-color: rgba(0, 0, 0, 0.6)
}

.main>form>input {
  display: inline-block;
  margin: 30px auto 30px auto;
  width: 60%;
  background-color: black;
  border: 2px solid red;
  border-radius: 15px;
  color: white;
  height: 50px;
  font-size: 1.3em;
}

.main>form>input[type="reset"] {
  width: 20%;
}

.main>a,
.main>form>input {
  transition: border-color .2s ease;
}

.main>form>input:disabled {
  opacity: 0.4;
}

.main>a,
.main>span {
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid red;
  padding: 10px;
}

.main>a:hover,
.main>a:focus,
.main>form>input:not(.main > a, .main > form > input:disabled):focus,
.main>form>input:not(.main > a, .main > form > input:disabled):hover {
  border-color: yellow;
  outline: none;
}

.main>a#FirstPage {
  border-radius: 15px 0 0 15px;
}

.main>a#LastPage {
  border-radius: 0 15px 15px 0;
}

.main>a.CurrentPage {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

#AnswerPagelink {
  margin: 5px auto 0 auto;
}

#HelpPagelink {
  margin: 5px auto;
}

#AnswerPagelink,
#HelpPagelink {
  font-size: larger;
}

.main>div.TList {
  border: 1px solid red;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0 auto;
  padding: 0 25px 25px 25px;
  background-color: rgba(30, 30, 30);
}

.main>div.TList>p {
  position: relative;
  top: -45px;
  margin: 0 auto 0 auto;
  font-size: 1em;
  line-height: 45px;
  height: 90px;
  width: 300px;
  border: 2px solid red;
  border-radius: 15px;
  background-color: black;
  z-index: 1;
  text-align: center;
}

.main>div>div.TListItem {
  border: 1px solid red;
  padding: 15px;
  border-radius: 10px;
  margin: 0 0 20px 0;
}

.main>div>.TListItem>p.title {
  color: #CCAE52;
  font-size: 1.4em;
  text-align: center;
}

.main>div>.TListItem>p.description {
  margin: 15px 0;
}

.main>div>div.TListItem>p.date {
  font-size: .7em;
}

.main>div.TPList>a {
  display: block;
  padding: 20px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid red;
  transition: border-color .2s ease;
}

.main>div.TPList>a>p {
  background-color: transparent;
  display: inline-block;
  padding: 10px;
  color: white;
  vertical-align: middle;
}

.main>div.TPList>a>p.state {
  width: 10%;
  min-width: 60px;
  text-align: center;
}

.main>div.TPList>a>p.title {
  text-align: left;
  width: 70%;
  font-size: larger;
}

.main>div.TPList>a>p.details {
  width: 20%;
  font-size: smaller;
  text-align: left;
}

.main>div.TPList>a:focus,
.main>div.TPList>a:hover {
  border-color: yellow;
  outline: none;
}
