:root{
  --body-width:1024px;
}
*{
  margin:0;
  padding:0;
  border:0;
}
html{
  height:100%;
  font-family: Arial, sans-serif;
  background: black url("images/DOOMbackground.jpg") center/cover no-repeat fixed;
}
body{
  width:var(--body-width);
  height:100%;
  margin:auto;
  background-color:rgba(150, 150, 150, 1);
}
header{
  height: 25%;
  background-color:rgba(10,10,10,1);
  overflow: hidden;
}
nav{
  position:relative;
  height: 10%;
  background-color:rgba(25,25,25,1);
  margin: auto;
  width:90%;
  top: -5%;
  overflow: hidden;
}
ul{
  width:100%;
  height:100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul li{
  display: inline-block;
  text-align:center;
  vertical-align:middle;
  font-size:1.6em;
  font-weight: bold;
  width:25%;
  height:100%;
  color:white;

  display:flex;
  flex-flow: column wrap;
  justify-content:center;

  transition: all 0.1s ease-in;
}
ul li:hover{
  background-color:rgba(0,0,0,1);
  font-size:1.8em;
  color:white;
}
ul li a{
  font-weight: normal;
  text-decoration: none;
  color:rgb(200,200,200);
}
.disabled{
  pointer-events: none;
}
.disabled:hover{
  background-color: inherit;
  font-size: 1.6em;
  color: white;
}
#logo{
  display: inline-block;
  margin:  1% auto auto auto;
  text-align: center;
  width: 100%;
  height: 60%;
  color:white;
  text-indent: -9999px;
  background: black url("images/Logo_doom.png") center/contain no-repeat;
}
/*------------
MAIN-CONTENT
------------*/
.main{
  min-height:75%;
  margin-top: -9.5%;
  background-color:rgba(255, 255, 255, 0.2);
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
.main img{
  width: auto;
  max-height: 30vh;
}
.main p{
  width: 80%;
  margin:auto;
  font-size: 1.5em;
}
/*------------
IMAGE-SLIDER
------------*/
.image_slider_widget_{
  display: flex;
  flex-direction: row;
  width: var(--body-width);
  height: 50vh;
  margin:auto;
  overflow:hidden;
}
#prev_icon_2{
  width: 50px;
  height: 100%;
  background-image: url(ICONS/back.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#next_icon_2{
  width: 50px;
  height: 100%;
  background-image: url(ICONS/next.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.image_slider_container_{
  width:calc(var(--body-width) - 100px);
  height:100%;
  overflow: hidden;
}
.image_box_{
  width: calc(var(--body-width) - 100px);
  height: 100%;
}
.image_box_ img{
  height: auto;
  width:auto;
  max-height: 100%;
  max-width: 100%;
  display: inline-block;
  margin:0;
}
.image_slider_{
  --local-width:calc(calc(var(--body-width) - 100px) * 2);
  --local-translate:calc((-1 * var(--local-width))/2);
  display: flex;
  flex-flow: row nowrap;
  width: var(--local-width);
  transform:translate(calc(var(--local-translate)*(0)));
  height: 100%;
}

/*------------
FOOTER
------------*/
footer{
  width:100%;
  height:5%;
  background-color:rgba(10,10,10,1);
}
